@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "Poppins";
  margin: 0;
}
section {
  margin: 0 120px;
}
.primary {
  background-color: #e02c6d;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 24px;
  border: none;
  border-radius: 40px;
  color: #fff;
}
main {
  gap: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin-bottom: 100px;
}

.prebook {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 135px;
}
.start h1 {
  font-weight: 700;
  font-size: 52px;
}
.start p {
  font-weight: 600;
  font-size: 16px;
}
.product-img {
  align-items: center;
  width: 475px;
  height: 475px;
  background-image: url(images/Circle\design.svg);
}
hr {
  color: #e02c6d;
}
.logos {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos img {
  padding: 30px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.product img {
  width: 100%;
  height: auto;
}
.product-name {
  margin: 4px 0px;
  font-weight: 500;
  font-size: 28px;
}
.price {
  margin: 4px 0px;
  font-weight: 400;
  font-size: 24px;
}
.product p {
  margin: 8px 0px;
}
.seemore {
  margin-top: 50px;
  display: flex;
  justify-content: right;
  color: #e02c6d;
  text-decoration: none;
  text-align: right;
}
.featured {
  align-items: center;
  margin: 100px;
  display: flex;
  gap: 96px;
}
.headline-container > h1 {
  margin-bottom: 16px;
}
p {
  margin-bottom: 16px;
}

.squre {
  border-radius: 0px;
}
/* footer start */
footer {
  background-color: #0a0826;
  margin: 0;
  padding: 50px 0px;
  text-align: center;
  color: #fff;
}
.misc h1 {
  margin: 0px;
}
.misc h1 {
  font-weight: 700;
  font-size: 24px;
}
.misc p {
  font-weight: 100;
  font-size: 14px;
}
.social i {
  margin: 17px;
  gap: 16px;
}
/* respomsive start */
@media only screen and (max-width: 500px) {
  body {
    margin: 10px;
  }
  
  .prebook {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .start {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logos img {
    padding: 11px;
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
  .product{
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .product-img {
    width: auto;
    height: 256px;
    margin-bottom: 16px;
  }
  .featured {
    display: flex;
    flex-direction: column;
  }
  .seemore {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .headline-container {
    align-items: center;
    text-align: center;
  }
}
